---
title: Betreuungsgeld
---
.content
  %h1 Betreuungsgeldempfänger im 4. Quartal 2014
  .text
    .explanation
      %p
        Anteil der Betreuungsgeldempfänger an den möglichen Empfängern (unter dreijährige Kinder).
      %p
        Datenbasis: Statistisches Bundesamt
        %br
        Datenzeitpunkt der unter Dreijährigen: Dez 2013
  .graph#bundeslaender
    %h2 Anteil der Empfänger nach Bundesland
    #percent-bl-chart
  #map
