---
title: Betreuungsgeld
---
.content
  .text
    .explanation
      %p Betreuungsgeldempfänger im 4. Quartal 2014. Kreise zeigen die absoluten Zahlen, die Karte den Prozentsatz von Empfängern zu unter dreijährigen Kindern( mögliche Empfänger).
      %p Datenbasis: Statistisches Bundesamt
  #map
