---
title: Betreuungsgeld
---
.content
  %h1 Betreuungsgeldempfänger im 4. Quartal 2014
  .text
    .explanation
      %p
        Anteil der Betreuungsgeldempfänger an möglichen Empfängern (unter dreijährige Kinder).
      %p
        Datenbasis: 
        %a(href="https://www.destatis.de/DE/Publikationen/Thematisch/Soziales/Elterngeld/BetreuungsgeldLeistungsbezuegeVj.html")
          Statistisches Bundesamt
        %br
        Datenzeitpunkt der unter Dreijährigen: Dez 2013
  .graph#bundeslaender
    %h2
      Anteil der Empfänger nach Bundesland
      %br
      %span in %
    #percent-bl-chart
  .text
    .explanation
      %p
        Anteil der Empfänger nach Geschlecht. Nur 5 von 100 Empfängern sind Väter. Der Rest sind Mütter.
        %br
        %p
          Datenbasis: 
          %a(href="https://www.destatis.de/DE/Publikationen/Thematisch/Soziales/Elterngeld/BetreuungsgeldLeistungsbezuegeVj.html")
            Statistisches Bundesamt
  .graph#gender
    %h2 Anteil der Empfänger nach Geschlecht
    #percent-gender-chart
  .text
    %p Flächenfarbe gibt den Prozentsatz der Empfänger wieder, die Kreise zeigen die absoluten Zahlen.
  #map
